body {
	margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    }
      
/* Loading spinner styles */
#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid #0D98BA; /* BlueGreen for earth outline */
    animation: spin 1s linear infinite;
    }

/* Animation for rotating the tree outline */
    @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }

/* Style for loading message */
#loading-message {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    }

/* Placeholder for the earth image */
#tree-outline {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('%PUBLIC_URL%/earth-outline.png'); /* Use your earth outline image */
    background-size: contain;
    background-repeat: no-repeat;
    animation: tree-draw 5s ease-in-out forwards;
    }

/* Animation for tracing the tree outline */
    @keyframes tree-draw {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 100, 0;
    }
    }
